apex @ file:///root/autodl-tmp/project/apex-22.04-dev
huggingface-hub==0.23.4
ipython==8.25.0
Markdown==3.6
matplotlib==3.9.0
numpy==1.26.4
opt-einsum==3.3.0
packaging==24.1
pandas==1.4.4
pillow==10.3.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
torch @ http://download.pytorch.org/whl/cu118/torch-2.1.2%2Bcu118-cp310-cp310-linux_x86_64.whl
torchvision @ http://download.pytorch.org/whl/cu118/torchvision-0.16.2%2Bcu118-cp310-cp310-linux_x86_64.whl
tornado==6.4.1
tqdm @ file:///opt/conda/conda-bld/tqdm_1664392687731/work
transformers==4.42.1
translationstring==1.4
triton==2.1.0
ujson==5.10.0
wandb==0.17.3

